$color-text: rgba(80, 95, 152, 1);
$color-dark-blue: rgba(55, 68, 126, 1);
$color-bright-blue: rgba(231, 236, 255, 1);
$color-hover: rgb(150, 174, 212);
$color-grey: rgba(147, 158, 164, 1);
$transition: all 0.4s ease-in-out;

